$btn-background: #1c1c1c;
$btn-background-hover: #2a2a2a;
$btn-color: #fafafa;
$btn-size: 2.5rem;
/* if you don't want the animation on the button, instead to
 * modify this value, set $btn-animation to `false` */
$btn-expand-size: 0.5rem;

$menu-background: rgba(0,0,0,0.8);

$menu-font-family: 'Roboto', sans-serif;
$menu-font-size: 2em;
$menu-margin-top: 10rem;
$menu-list-padding: 1rem;
$menu-space-between: 0.5rem;

$link-background: rgba(0,0,0,0.3);
$link-background-hover: rgba(0,0,0,0.5);
$link-color: #fafafa;
$link-color-hover: #fafafa;

$icon-margin-top: 0.5rem;

$btn-animation: true;
$btn-animation-duration: 1500ms;
$btn-transition-duration: 300ms;

$menu-animation: true;
$menu-animation-duration: 1500ms;
